.image-container {
  max-height: 20rem;
}

.image-container:not(:last-child) {
  margin-right: 0.5rem;
}

.img {
  height: 100%;
}

.photo-credit {
  display: flex;
  font-size: 0.75rem;
  justify-content: flex-end;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: right;
}

.image-preview-strip {
  display: grid;
}

.see-all-container {
  align-items: center;
  background-color: rgba(161, 161, 161, 0.3);
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .image-preview-strip {
    display: flex;
    flex-direction: column;
  }

  .image-container {
    max-height: 100%;
  }

  .img {
    width: 100%;
  }
  
  .see-all-container {
    height: 15rem;
  }
}
