.panel {
  align-items: center;
  width: 50%;
}

.drawing {
  height: 232px;
  width: 300px;
}

.bridges {
  height: 232px;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .panel {
    width: auto;
  }
}