.container {
  position: relative;
}

.wedding-header::before {
  content: "\ea65";
}

.invite-wrapper {
  display: block;
  margin-top: 1rem;
}

.invite {
  border-radius: 2.1rem;
  width: 100%;
}

.rsvp-button {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.faqContainer {
  max-width: 50%;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0;
  }

  .desktop-header {
    display: none;
  }
  
  .rsvp-button {
    font-size: 1rem;
  }

  .faqContainer {
    max-width: 100%;
  }
}
