.begin {
  margin-right: 1rem;
  width: 40%;
}

.end {
  width: 60%;
}

.carousel-panel {
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

.img {
  max-height: 20rem;
  opacity: 1;
}

.photo-credit {
  background-color: #fff;
  display: flex;
  font-size: 0.5rem;
  justify-content: flex-end;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .content {
    flex-direction: column-reverse;
  }

  .begin,
  .end {
    width: auto;
  }

  .begin {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}