.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  padding: 0.5rem 1rem;
  background-color: var(--main-bg-color);
}

.header-links-wrapper {
  display: flex;
}

.link-wrapper {
  margin-right: 2rem;
}

.link-wrapper a:not(:last-child) {
  margin-right: 2rem;
}

.icon-link-wrapper:not(:last-child) {
  margin-right: 0.5rem;
}

.icon-link {
  text-decoration: none;
}

.mail-icon {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .link-wrapper {
    flex-direction: column;
    margin-right: 0;
  }

  .link-wrapper a {
    padding: 0;
    text-decoration: underline;
  }

  .link-wrapper a:not(:hover) {
    border-bottom: none;
  }

  .link-wrapper a:not(:last-child) {
    margin-bottom: 0.5rem;
    margin-right: 0;
  }
}