.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding: 0.5rem 1rem;
  background-color: var(--main-bg-color);
}

.header-links-wrapper {
  display: flex;
}

.link-wrapper {
  margin-right: 2rem;
}

.link-wrapper a,
.mobile-nav a {
  font-family: var(--cursive);
}

.link-wrapper a:not(:last-child) {
  margin-right: 2rem;
}

.icon-link-wrapper:not(:last-child) {
  margin-right: 1rem;
}

.icon-link {
  text-decoration: none;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 768px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-around;
    border-color: var(--border-color);
    font-size: 1.25rem;
    padding: 0;
  }

  .mobile-nav a {
    text-decoration: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }

  .mobile-nav a[data-selected] {
    border-bottom-color: var(--border-color);
  }

  .mobile-nav a::before {
    font-family: "Material Icons Outlined";
    padding-right: 0.5rem;
  }

  .wedding::before {
    content: "\ea65";
  }

  .story::before {
    content: "\e666";
  }
}
