@font-face {
  font-family: "Cedarville Cursive";
  src: local("Cedarville Cursive"),
    url(./fonts/CedarvilleCursive-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(./fonts/OpenSans-Regular.ttf) format("truetype");
}

html {
  /* background-color: #827481; */
  background-color: rgba(247, 247, 247);
  background-image: url(./images/image_0.jpeg);
  background-position-x: center;
  background-repeat: no-repeat;
  border-color: #000;
  font-family: "Open Sans";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
a {
  color: #000;
}

button {
  font-family: "Open Sans";
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  font-family: "Cedarville Cursive", cursive;
  margin: 0;
}

h1, h2 {
  font-size: 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
